@{
    Layout = "_UserLayout";
}
@model GetAppUserVM
<div class="account">
    @{
        await Html.RenderPartialAsync("_UserSidebarPartialView");
    }
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a asp-controller="home" asp-action="index"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>@User.Identity.Name</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a asp-controller="user" asp-action="index">Panel</a></li>
                        <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="create_cv">
            <div class="title">
                <h1>Şirkətlərim</h1>
                <ul class="profile__add-cv__parts">
                    <li class="active">
                        <a href="#tab1" class="tab1 step_btn"> Şirkətlər(1)</a>
                    </li>
                </ul>
            </div>
            <div class="inner_tab">
                <div class="row mt-5">
                    @foreach (var item in Model.Companies)
                    {
                        <div class="company_card col-md-4 col-lg-3">
                            <div class="company_box">
                                <a asp-action="detail" asp-controller="company" asp-route-id="@item.Id" class="full">
                                    <div>
                                        <div class="company_images" style="padding:0px !important; position:static !important;">
                                            <div class="image" style="
    height: 70px;
    display: flex;
    justify-content: center;
">
                                                <img src="~/assets/images/Company/@item.ImageUrl" alt="@item.Name" />
                                            </div>
                                        </div>
                                        <p>@item.Name</p>
                                        @if (item.Vacancies.Count != 0)
                                        {
                                            <p>Vakansiya sayı <span>@item.Vacancies.Count</span> </p>
                                        }
                                    </div>
                                </a>
                                <div class="crudbtn mt-2">
                                    <a class="btn btn-success" style="text-decoration:none" asp-action="updatecompany" asp-controller="user" asp-route-id="@item.Id">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger" style="text-decoration:none" asp-action="softdeletecompany" asp-controller="user" asp-route-id="@item.Id">
                                        Delete
                                    </a>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="/assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        @{
            await Html.RenderPartialAsync("_MobileSidebarPartialView");
        }
        <div class="account_content">
            <div class="create_cv">
                <div class="title">
                    <h1>Şirkətlərim</h1>
                    <ul class="profile__add-cv__parts">
                        <li class="active">
                            <a href="#tab1" class="tab1 step_btn"> Şirkətlər</a>
                        </li>
                    </ul>
                </div>
                <div class="inner_tab">
                    <div class="row mt-5">

                        @foreach (var item in Model.Companies)
                        {
                            <div class="company_card col-md-4 col-lg-3">
                                <div class="company_box">
                                    <a class="full" href="/company/detail?id=7">
                                        <div>
                                            <div class="company_images">
                                                <div class="image">
                                                    <img src="/assets/images/Company/@item.ImageUrl" alt="@item.Name" />
                                                </div>
                                            </div>
                                            <p>@item.Name</p>
                                            @if (item.Vacancies.Count != 0)
                                            {
                                                <p>Vakansiya sayı <span>@item.Vacancies.Count</span> </p>
                                            }
                                        </div>
                                    </a>
                                    <div class="crudbtn mt-2">
                                        <a class="btn btn-success" style="text-decoration:none" asp-action="updatecompany" asp-controller="user">
                                            Edit
                                        </a>
                                        <a class="btn btn-danger" style="text-decoration:none" asp-action="SoftDeleteCompany" asp-controller="user">
                                            Delete
                                        </a>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>