@model GetAppUserVM
@{
    int count = 1;
}
<p>Gözləmədə olan elanlar</p>
<table class="table caption-top">

    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">E-poçt</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CvRequests)
         {

            <tr>
                <td scope="row">@count</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Email</td>
                <td>@(item.Status.Contains(nameof(Status.InProgress) ? "Gözləmədə" : item.Status))</td>
            </tr>
            count++;
         }
    </tbody>
</table>
