@{
    Layout = "_UserLayout";
}
@model UpdateCvVm

<div class="account">
    @{
        await Html.RenderPartialAsync("_UserSidebarPartialView");
    }
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a asp-controller="home" asp-action="index"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a href="./account.html" class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>@User.Identity.Name</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a asp-controller="account" asp-action="mysticker">Mənim elanlarım</a></li>
                        <li>
                            <a asp-controller="account" asp-action="security">Şəxsi məlumatlar</a>
                        </li>
                        <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="create_cv">
            <div class="title">
                <h1>CV redaktə et</h1>
                <ul class="profile__add-cv__parts">
                    <li class="active">
                        <a href="#tab1" class="tab1 step_btn"> Şəxsi məlumatlar</a>
                    </li>
                </ul>
            </div>
            <div class="inner_tab">
                <form asp-controller="user" asp-action="updatecv" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-5">
                        <div class="col-lg-2">
                            <h2 class="section_title">Şəxsi məlumatlar</h2>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <div class="image_input">
                                    <input class="choose"
                                           asp-for="Photo"
                                           id="fileInput"
                                           accept="image/*" />
                                    <input type="hidden"  asp-for="ImageUrl"/>
                                    <span class="upload_file_img">
                                        <img id="preview"
                                             src="https://cdn-icons-png.flaticon.com/512/2815/2815428.png"
                                             class="m-0"
                                             alt="" />
                                    </span>
                                </div>
                                <label for="prof_img" class="upload_image">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/upload2.svg"
                                         alt="" />
                                    <span>Şəkil əlavə et</span>
                                    <p>SVG, PNG or JPG(max. 1000x1000px)</p>
                                </label>
                                <span asp-validation-for="Photo" class="text-danger"></span>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Name">
                                            Ad
                                        </label>
                                        <input asp-for="Name" required
                                               class="form-control inputs"
                                               placeholder="Adınız" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Surname">Soyad</label>
                                        <input asp-for="Surname" required
                                               class="form-control inputs"
                                               placeholder="Soyad" />
                                        <span asp-validation-for="Surname" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Birthday">
                                            Doğum Tarixi
                                        </label>
                                        <input asp-for="Birthday" required
                                               value="__/__/____"
                                               class="form-control inputs"
                                               placeholder="__/__/____" />
                                        <span asp-validation-for="Birthday" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Email">E-Poçt</label>
                                        <input asp-for="Email" required
                                               class="form-control inputs"
                                               placeholder="E-poçt ünvanınızı yazın" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Photo">Mobil nömrəniz</label>
                                        <div class="position-relative">
                                            <input 
                                                   asp-for="Phone"
                                                   placeholder="Mobil nömrənizi qeyd edin"
                                                   class="form-control inputs"
                                                   im-insert="true"
                                                   style="padding-left: 60px" required />
                                        </div>
                                        <span asp-validation-for="Phone" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="CityId">Şəhər</label>
                                        <select asp-for=CityId asp-items="new SelectList(Model.Cities, nameof(IncludeCityVm.Id), nameof(IncludeCityVm.Name))" class="form-control cities">
                                        </select>
                                        <span asp-validation-for="CityId" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-2">
                            <h2 class="section_title">İş məlumatlar</h2>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Position">Vəzifəniz</label>
                                        <input asp-for="Position"
                                               class="form-control inputs"
                                               placeholder="Vəzifəniz" />
                                        <span asp-validation-for="Position" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="CategoryItemId">Kateqoriya</label>
                                        <select asp-for=CategoryItemId class="form-control cities">
                                            @foreach (var businessTitle in Model.CategoryItems)
                                             {
                                                    <optgroup label="@businessTitle.IncludeBaseCategory.Name">                                          
                                               @foreach (var x in businessTitle.IncludeBaseCategory.CategoryItems)
                                                    {
                                                        <option value="@x.Id">@x.Name</option>
                                                    }
                                                    </optgroup>
                                             }
                                        </select>
                                        <span asp-validation-for="CategoryItemId" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="ExperienceId">Is staji</label>
                                        <select asp-for=ExperienceId asp-items="new SelectList(Model.Experiences, nameof(IncludeExperienceVm.Id), nameof(IncludeExperienceVm.Name))" class="form-control cities">
                                        </select>
                                        <span asp-validation-for="ExperienceId" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="EducationId">Təhsil</label>
                                        <select asp-for=EducationId asp-items="new SelectList(Model.Educations, nameof(IncludeEducationVm.Id), nameof(IncludeEducationVm.Name))" class="form-control cities">
                                        </select>
                                        <span asp-validation-for="EducationId" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="WorkingHourId">İş saatı</label>
                                        <select asp-for=WorkingHourId asp-items="new SelectList(Model.WorkingHours, nameof(IncludWorkingHourVm.Id), nameof(IncludWorkingHourVm.Name))" class="form-control cities">
                                        </select>
                                        <span asp-validation-for="WorkingHourId" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="MinSalary">Minimum əmək haqqı AZN(Məs:1500)</label>
                                        <input asp-for="MinSalary"
                                               max="12000"
                                               class="form-control inputs"
                                               placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="HasDriverLicense">Sürücülük vəsiqəsi</label>
                                        <div class="checkbox">
                                            <input asp-for="HasDriverLicense" class="form-check-input mt-0">
                                            <span>Var</span>
                                        </div>
                                        <span asp-validation-for="HasDriverLicense" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-2">
                            <h2 class="section_title">CV Faylı</h2>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input asp-for="CvUFile"
                                       class="d-none"
                                       id="cv_inp"
                                       multiple=""
                                       accept=".pdf,.docx" />
                                <input type="hidden" asp-for="CvFile" />
                                <label for="cv_inp" class="cv_label">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/upload2.svg"
                                         alt="" />
                                    <span>CV əlavə et</span>
                                    <p>PDF, DOCX (max. 3mb)</p>
                                </label>
                            </div>
                            <div class="cv-file mb-5 active" style="display: none">
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/file.svg"
                                     alt="" />
                                <img class="check"
                                     src="https://www.hellojob.az/content/assets/images/profile/svg-icons/check.svg"
                                     alt="" />
                                <button type="button" class="remove">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/remove2.svg"
                                         alt="" />
                                </button>
                                <div class="d-block w-100">
                                    <p class="file_name">Cv.pdf</p>
                                    <div class="progress">
                                        <div class="progressbar"
                                             role="progressbar"
                                             style="width: 100%"></div>
                                        <span id="percent">100%</span>
                                    </div>
                                </div>
                            </div>
                            <div id="uploaded_image"></div>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary submit">Təsdiq et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head ">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="~/assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        <div class="persons_menu">
            <div class="account_head_user">
                <ul>
                    <li><a asp-controller="account" asp-action="index">@User.Identity.Name</a></li>
                    <li><a asp-controller="account" asp-action="mysticker">Mənim elanlarım</a></li>
                    <li>
                        <a asp-controller="account" asp-action="security">Şəxsi məlumatlar</a>
                    </li>
                    <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                </ul>
            </div>
        </div>
        <div class="hamburgers_menu">
            <ul class="myprofile">
                <li>
                    <a asp-controller="account" asp-action="index">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg"
                                 alt="" />
                        </span>
                        Profilim
                    </a>
                </li>
                <li>
                    <a asp-controller="account" asp-action="myrequest">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Müraciətlər
                    </a>
                </li>
                @if (User.IsInRole(UserRole.Company.ToString()))
                {
                    <li>
                        <a asp-controller="account" asp-action="createvacans">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Vakansiya yerləşdir
                        </a>
                    </li>
                    <li>
                        <a asp-controller="account" asp-action="creatingcompany">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Şirkət Yarat
                        </a>
                    </li>
                    <li>
                        <a asp-controller="account" asp-action="mycompany">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Şirkətlərim
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="active" asp-controller="account" asp-action="createcv">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Cv yerləşdir
                        </a>
                    </li>
                }
                <li>
                    <a asp-controller="account" asp-action="mysticker">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Elanlarım
                    </a>
                </li>
                <li>
                    <a asp-controller="account" asp-action="wishlistpage">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg"
                                 alt="" />
                        </span>
                        Bəyəndiklərim
                    </a>
                </li>
                <li>
                    <a asp-controller="account" asp-action="security">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                                 alt="" />
                        </span>
                        Təhlükəsizlik
                    </a>
                </li>
            </ul>
            <div class="backsite">
                <a asp-controller="Home" asp-action="index"
                   class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
            </div>
        </div>
        <div class="account_content">
            <div class="create_cv">
                <div class="title">
                    <h1>CV Yerləşdir</h1>
                    <ul class="profile__add-cv__parts">
                        <li class="active">
                            <a href="#tab1" class="tab1 step_btn"> Şəxsi məlumatlar</a>
                        </li>
                    </ul>
                </div>
                <div class="inner_tab">
                    <form asp-controller="user" asp-action="updatecv" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-5">
                            <div class="col-lg-2">
                                <h2 class="section_title">Şəxsi məlumatlar</h2>
                            </div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <div class="image_input">
                                        <input class="choose"
                                               asp-for="Photo"
                                               id="fileInput"
                                               accept="image/*" />
                                        <input type="hidden" asp-for="ImageUrl" />
                                        <span class="upload_file_img">
                                            <img id="preview"
                                                 src="https://cdn-icons-png.flaticon.com/512/2815/2815428.png"
                                                 class="m-0"
                                                 alt="" />
                                        </span>
                                    </div>
                                    <label for="prof_img" class="upload_image">
                                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/upload2.svg"
                                             alt="" />
                                        <span>Şəkil əlavə et</span>
                                        <p>SVG, PNG or JPG(max. 1000x1000px)</p>
                                    </label>
                                    <span asp-validation-for="Photo" class="text-danger"></span>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Name">
                                                Ad
                                            </label>
                                            <input asp-for="Name" required
                                                   class="form-control inputs"
                                                   placeholder="Adınız" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Surname">Soyad</label>
                                            <input asp-for="Surname" required
                                                   class="form-control inputs"
                                                   placeholder="Soyad" />
                                            <span asp-validation-for="Surname" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Birthday">
                                                Doğum Tarixi
                                            </label>
                                            <input asp-for="Birthday" required
                                                   value="__/__/____"
                                                   class="form-control inputs"
                                                   placeholder="__/__/____" />
                                            <span asp-validation-for="Birthday" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Email">E-Poçt</label>
                                            <input asp-for="Email" required
                                                   class="form-control inputs"
                                                   placeholder="E-poçt ünvanınızı yazın" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Photo">Mobil nömrəniz</label>
                                            <div class="position-relative">
                                                <input asp-for="Phone"
                                                       placeholder="Mobil nömrənizi qeyd edin"
                                                       class="form-control inputs"
                                                       im-insert="true"
                                                       style="padding-left: 60px" required />
                                            </div>
                                            <span asp-validation-for="Phone" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="CityId">Şəhər</label>
                                            <select asp-for=CityId asp-items="new SelectList(Model.Cities, nameof(IncludeCityVm.Id), nameof(IncludeCityVm.Name))" class="form-control cities">
                                            </select>
                                            <span asp-validation-for="CityId" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-lg-2">
                                <h2 class="section_title">İş məlumatlar</h2>
                            </div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Position">Vəzifəniz</label>
                                            <input asp-for="Position"
                                                   class="form-control inputs"
                                                   placeholder="Vəzifəniz" />
                                            <span asp-validation-for="Position" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="CategoryItemId">Kateqoriya</label>
                                            <select asp-for=CategoryItemId class="form-control cities">
                                                @foreach (var businessTitle in Model.CategoryItems)
                                                {
                                                    <optgroup label="@businessTitle.IncludeBaseCategory.Name">
                                                        @foreach (var x in Model.CategoryItems)
                                                        {
                                                            <option value="@x.Id">@x.Name</option>
                                                        }
                                                    </optgroup>
                                                }
                                            </select>
                                            <span asp-validation-for="CategoryItemId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="ExperienceId">Is staji</label>
                                            <select asp-for=ExperienceId asp-items="new SelectList(Model.Experiences, nameof(IncludeExperienceVm.Id), nameof(IncludeExperienceVm.Name))" class="form-control cities">
                                            </select>
                                            <span asp-validation-for="ExperienceId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="EducationId">Təhsil</label>
                                            <select asp-for=EducationId asp-items="new SelectList(Model.Educations, nameof(IncludeEducationVm.Id), nameof(IncludeEducationVm.Name))" class="form-control cities">
                                            </select>
                                            <span asp-validation-for="EducationId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="WorkingHourId">İş saatı</label>
                                            <select asp-for=WorkingHourId asp-items="new SelectList(Model.WorkingHours, nameof(IncludWorkingHourVm.Id), nameof(IncludWorkingHourVm.Name))" class="form-control cities">
                                            </select>
                                            <span asp-validation-for="WorkingHourId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="MinSalary">Minimum əmək haqqı AZN(Məs:1500)</label>
                                            <input asp-for="MinSalary"
                                                   max="12000"
                                                   class="form-control inputs"
                                                   placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="HasDriverLicense">Sürücülük vəsiqəsi</label>
                                            <div class="checkbox">
                                                <input asp-for="HasDriverLicense" class="form-check-input mt-0">
                                                <span>Var</span>
                                            </div>
                                            <span asp-validation-for="HasDriverLicense" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-lg-2">
                                <h2 class="section_title">CV Faylı</h2>
                            </div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <input asp-for="CvUFile"
                                           class="d-none"
                                           id="cv_inp"
                                           multiple=""
                                           accept=".pdf,.docx" />
                                    <input type="hidden" asp-for="CvFile" />
                                    <label for="cv_inp" class="cv_label">
                                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/upload2.svg"
                                             alt="" />
                                        <span>CV əlavə et</span>
                                        <p>PDF, DOCX (max. 3mb)</p>
                                    </label>
                                </div>
                                <div class="cv-file mb-5 active" style="display: none">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/file.svg"
                                         alt="" />
                                    <img class="check"
                                         src="https://www.hellojob.az/content/assets/images/profile/svg-icons/check.svg"
                                         alt="" />
                                    <button type="button" class="remove">
                                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/remove2.svg"
                                             alt="" />
                                    </button>
                                    <div class="d-block w-100">
                                        <p class="file_name">Cv.pdf</p>
                                        <div class="progress">
                                            <div class="progressbar"
                                                 role="progressbar"
                                                 style="width: 100%"></div>
                                            <span id="percent">100%</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="uploaded_image"></div>
                            </div>
                        </div>
                        <div class="submit-button">
                            <button type="submit" class="btn btn-primary submit">Təsdiq et</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/assets/js/pageCv.js"></script>
    <script>const select = document.querySelector('select[name="phone_frst"]');
        const input = document.querySelector('input[name="phone"]');
        const hiddenInput = document.querySelector('#full_phone_number');

        function updateHiddenInput() {
            const phoneNumber = select.value + input.value;
            hiddenInput.value = phoneNumber;
        }

        select.addEventListener('change', updateHiddenInput);
        input.addEventListener('input', updateHiddenInput);</script>
}

