@model GetAppUserVM
@{
    Layout = "_UserLayout";
}
<div class="account">
    @{
        await Html.RenderPartialAsync("_UserSidebarPartialView");
    }
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a asp-controller="home" asp-action="index"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a href="./account.html" class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>@User.Identity.Name</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a asp-controller="account" asp-action="mysticker">Mənim elanlarım</a></li>
                        <li>
                            <a asp-controller="account" asp-action="security">Şəxsi məlumatlar</a>
                        </li>
                        <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="create_cv">
            <div class="title">
                <h1>Elanlarim</h1>
                <ul class="profile__add-cv__parts">
                    <li class="active">
                        <a href="#tab1" class="tab1 step_btn">Cv-lər(1)</a>
                    </li>
                    <li class="active d-none">
                        <a href="#tab1" class="tab1 step_btn">Vakansiyalar(1)</a>
                    </li>
                </ul>
            </div>
            <div class="inner_tab">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 ">
                            @foreach (var vacancy in Model.Vacancies)
                            {
                                <div class="vacancies">
                                    <div class="vacancies_href">
                                        <a href="./vacansdetail.html">
                                            <div class="item_left">
                                                <div class="icon">
                                                    <img src="~/assets/images/BusinessTitle/@vacancy.IncludeCategoryItem.IncludeBaseCategory.ImageUrl"
                                                         alt="@vacancy.IncludeCategoryItem.IncludeBaseCategory.Name" />
                                                </div>
                                                <div class="title">
                                                    <h3>@vacancy.Position</h3>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="item_right">
                                            <span class="salary">@vacancy.Salary AZN</span>
                                            <span class="date">@vacancy.CreatedAt.ToString("MMM dd, yyyy 'at' h:mm tt")</span>
                                        </div>
                                        <div class="vacans_buttons">
                                            <a asp-action="updatevacancy" asp-controller="user" asp-route-id="@vacancy.Id" class="edited btn">
                                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/edit.svg"
                                                     alt="" />
                                                <span>Redaktə et</span>
                                            </a>
                                            <a class="deleted btn" asp-action="softdeletevacancy" asp-controller="user" asp-route-id="@vacancy.Id">
                                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/delete.svg"
                                                     alt="" />
                                                <span>Sil</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="./assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        <div class="persons_menu">
            <div class="account_head_user">
                <ul>
                    <li><a href="./account.html">Rəşid Bağırov</a></li>
                    <li><a href="./mysticker.html">Mənim elanlarım</a></li>
                    <li>
                        <a href="./security.html">Şəxsi məlumatlar</a>
                    </li>
                    <li><a href="/logout">Çıxış</a></li>
                </ul>
            </div>
        </div>
        <div class="hamburgers_menu">
            <ul class="myprofile">
                <li>
                    <a href="./account.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg"
                                 alt="" />
                        </span>
                        Profilim
                    </a>
                </li>
                <li>
                    <a href="./postCv.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Cv yerləşdir
                    </a>
                </li>
                <li>
                    <a href="./postCv.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Vakansiya yerləşdir
                    </a>
                </li>
                <li>
                    <a href="./postCv.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Şirkət yarat
                    </a>
                </li>
                <li>
                    <a class="active" href="./myCompany.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Şirkətlərim
                    </a>
                </li>
                <li>
                    <a href="./myOrder.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Gözləmədə olan elanlar
                    </a>
                </li>
                <li>
                    <a href="./mysticker.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Elanlarım
                    </a>
                </li>
                <li>
                    <a href="./WishListpage.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg"
                                 alt="" />
                        </span>
                        Bəyəndiklərim
                    </a>
                </li>
                <li>
                    <a href="./security.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                                 alt="" />
                        </span>
                        Təhlükəsizlik
                    </a>
                </li>
            </ul>
            <div class="backsite">
                <a href="./index.html"
                   class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
            </div>
        </div>
        <div class="account_content">
            <div class="create_cv">
                <div class="title">
                    <h1>Elanlarim</h1>
                    <ul class="profile__add-cv__parts">
                        <li class="active">
                            <a href="#tab1" class="tab1 step_btn">Cv-lər(1)</a>
                        </li>
                    </ul>
                </div>
                <div class="inner_tab">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    @foreach (var item in Model.Companies)
                                    {
                                        foreach (var vacancy in item.Vacancies)
                                        {
                                            <div class="vacancies">
                                                <div class="vacancies_href">
                                                    <a href="./vacansdetail.html">
                                                        <div class="item_left">
                                                            <div class="icon">
                                                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg"
                                                                     alt="Bağban" />
                                                            </div>
                                                            <div class="title">
                                                                <h3>Bağban</h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="item_right">
                                                        <span class="salary">500 - 500 AZN</span>
                                                        <span class="date">Dünən 11:29</span>
                                                    </div>
                                                    <div class="vacans_buttons">
                                                        <a href="" class="edited btn">
                                                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/edit.svg"
                                                                 alt="" />
                                                            <span>Redaktə et</span>
                                                        </a>
                                                        <a class="deleted btn" href="">
                                                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/delete.svg"
                                                                 alt="" />
                                                            <span>Sil</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
