@model ICollection<VacancyWishlistItemVm>
@{
    Layout = "_UserLayout";
}
<div class="account">
    @{
        await Html.RenderPartialAsync("_UserSidebarPartialView");
    }
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a asp-controller="home" asp-action="index"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a href="./account.html" class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>@User.Identity.Name</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a asp-controller="user" asp-action="index">Panel</a></li>
                        <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="create_cv">
            <div class="title">
                <h1>Bəyəndiklərim</h1>
            </div>
            <div class="inner_tab">

                <div class="vacans_cv">

                    @foreach (var item in Model)
                    {
                        <div class="likedVacans">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="liked_vacans">
                                            <div class="vacancies">
                                                <div class="vacancies_href">
                                                    <a href="">
                                                        <div class="item_left">
                                                            <div class="icon">
                                                                <img src="~/assets/images/BusinessTitle/@item.IncludeCategoryItem.IncludeBaseCategory.ImageUrl" alt="Bağban">
                                                            </div>
                                                            <div class="title">
                                                                <h3>@item.Position</h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="item_right">
                                                        <span class="salary">@item.Salary Azn</span>
                                                        <span class="date">@item.CreatedAt</span>
                                                        <div class="mx-2">
                                                            <a asp-action="DeleteItem" asp-controller="VacancyWishlist" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path.Value">
                                                                <i class="fa-solid fa-heart liked"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="./assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        @{
            await Html.RenderPartialAsync("_MobileSidebarPartialView");
        }
        <div class="account_content">
            <div class="create_cv">
                <div class="title">
                    <h1>Bəyəndiklərim</h1>
                    <ul class="tab-links">
                        <li>
                            <a class="cv-link">Cv-lər(1)</a>
                        </li>
                        <li>
                            <a class="vacancy-link">Vakansiyalar(1)</a>
                        </li>
                    </ul>
                </div>
                <div class="inner_tab">

                    <div class="vacans_cv mob">
                        @foreach (var item in Model)
                        {
                            <div class="likedVacans">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="liked_vacans">
                                                <div class="vacancies">
                                                    <div class="vacancies_href">
                                                        <a href="">
                                                            <div class="item_left">
                                                                <div class="icon">
                                                                    <img src="~/assets/images/BusinessTitle/@item.IncludeCategoryItem.IncludeBaseCategory.ImageUrl" alt="Bağban">
                                                                </div>
                                                                <div class="title">
                                                                    <h3>@item.Position</h3>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="item_right">
                                                            <span class="salary">@item.Salary Azn</span>
                                                            <span class="date">@item.CreatedAt</span>
                                                            <span class="like">
                                                                <i class="fa-regular fa-heart unliked"></i>
                                                                <i class="fa-solid fa-heart liked"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>