@model PaginationVm<CvFilterVM>
<section id="titles_and_bgblue">
    <div class="container">
        <div class="row">
            <div class="search_titles_bottom col-lg-12 col-md-12">
                <div class="searchbar full">
                    <div class="searchbar_top" style="display: flex;">
                        <form name="search" asp-action="Index" asp-controller="Cv"  asp-route-categoryItemId="@Model.CategoryItemId"
                               asp-route-educationId="@Model.EducationId"  asp-route-experienceId="@Model.ExperienceId"
                              asp-route-workingHourId="@Model.WorkingHourId"  asp-route-hasDriverLicense="@Model.HasDriverLicense">
                            <div class="input">
                                <input type="text" name="search" value="@(Model.Search == null? "":Model.Search)" placeholder="Məsələn, Dizayner">
                            </div>
                            <button type="submit" class="search_btn"><span>Axtar</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cv_filter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title">
                    <h1>
                        FİLTRLƏ
                    </h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 full_filter">
                <div class="filters">
                    <div id="filterForm">

                        <form class="filters_item" name="categoryItemId" asp-action="Index" asp-controller="Cv" asp-route-search="@Model.Search"
                              asp-route-educationId="@Model.EducationId" asp-route-experienceId="@Model.ExperienceId"
                              asp-route-workingHourId="@Model.WorkingHourId" asp-route-hasDriverLicense="@Model.HasDriverLicense" asp-route-order="@Model.Order">
                            <h3 class="title">İxtisas</h3>
                            <div class="pro">
                                @foreach (var category in Model.Item.Categories)
                                {
                                    <div class="inputs">
                                        <div class="checkbox">
                                            <input onchange="this.form.submit()" type="radio" name="categoryItemId" value="@category.Id" class="form-check-input mt-0">
                                            <label for="@category.Id">@category.Name</label>
                                        </div>
                                        <div class="count">
                                            <span class="prof_count">@category.Cvs.Count</span>
                                        </div>
                                    </div>
                                }



                            </div>
                        </form>

                        <form class="work_mode" name="workingHourId" asp-action="Index" asp-controller="Cv" asp-route-search="@Model.Search"
                              asp-route-educationId="@Model.EducationId" asp-route-experienceId="@Model.ExperienceId"
                              asp-route-categoryItemId="@Model.CategoryItemId" asp-route-hasDriverLicense="@Model.HasDriverLicense" asp-route-order="@Model.Order">
                            <h3 class="title">İş rejimi</h3>
                            <div class="pro">
                                @foreach (var wh in Model.Item.WorkingHours)
                                {
                                    <div class="inputs d-flex justify-content-between">
                                        <div class="checkbox">
                                            <input onchange="this.form.submit()" type="radio" name="workingHourId" value="@wh.Id" class="form-check-input mt-0">
                                            <label for="@wh.Id">@wh.Name</label>
                                        </div>
                                        <div class="count justify-content-end">
                                            <span class="prof_count">@wh.Cvs.Count</span>
                                        </div>
                                    </div>

                                }

                            </div>
                        </form>

                        <form class="education" name="educationId" asp-action="Index" asp-controller="Cv" asp-route-search="@Model.Search"
                              asp-route-workingHourId="@Model.WorkingHourId" asp-route-experienceId="@Model.ExperienceId"
                              asp-route-categoryItemId="@Model.CategoryItemId" asp-route-hasDriverLicense="@Model.HasDriverLicense" asp-route-order="@Model.Order">
                            <h3 class="title">Təhsil</h3>
                            <div class="pro">
                                @foreach (var education in Model.Item.Educations)
                                {
                                    <div class="inputs d-flex justify-content-between">
                                        <div class="checkbox">
                                            <input onchange="this.form.submit()" type="radio" name="educationId" value="@education.Id" class="form-check-input mt-0">
                                            <label for="@education.Id">@education.Name</label>
                                        </div>
                                        <div class="count justify-content-end">
                                            <span class="prof_count">@education.Cvs.Count</span>
                                        </div>
                                    </div>

                                }
                            </div>
                        </form>

                        <form class="seniority" name="experienceId" asp-action="Index" asp-controller="Cv" asp-route-search="@Model.Search"
                              asp-route-workingHourId="@Model.WorkingHourId" asp-route-educationId="@Model.EducationId"
                              asp-route-categoryItemId="@Model.CategoryItemId" asp-route-hasDriverLicense="@Model.HasDriverLicense" asp-route-order="@Model.Order">
                            <h3 class="title">Təhsil</h3>
                            <div class="pro">
                                @foreach (var experience in Model.Item.Experiences)
                                {
                                    <div class="inputs d-flex justify-content-between">
                                        <div class="checkbox">
                                            <input onchange="this.form.submit()" type="radio" name="experienceId" value="@experience.Id" class="form-check-input mt-0">
                                            <label for="@experience.Id">@experience.Name</label>
                                        </div>
                                        <div class="count justify-content-end">
                                            <span class="prof_count">@experience.Cvs.Count</span>
                                        </div>
                                    </div>

                                }
                            </div>
                        </form>

                        <form class="drivers" name="hasDriverLicense" asp-action="Index" asp-controller="Cv" asp-route-search="@Model.Search"
                              asp-route-workingHourId="@Model.WorkingHourId" asp-route-educationId="@Model.EducationId"
                              asp-route-categoryItemId="@Model.CategoryItemId" asp-route-experienceId="@Model.ExperienceId" asp-route-order="@Model.Order">
                            <h3 class="title">Sürücülük vəsiqəsi</h3>
                            <div class="pro">
                                <div class="inputs">
                                    <div class="checkbox">
                                        <input onchange="this.form.submit()" type="checkbox" name="hasDriverLicense" value="Var" id="driverLicenseCheckbox" class="form-check-input mt-0">
                                        <label for="driverLicenseCheckbox">Var</label>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9">
                <div class="right_side">

                    <form class="sorting">
                        <label for="">Sırala</label>
                        <select name="status" onchange="this.form.submit()" id="sort" class="form-control selected">
                            @foreach (var status in Enum.GetNames(typeof(Status)))
                                {
                            <option value="@status">@status</option>
                                }
                        </select>
                    </form>

                    <div class="persons_cv">
                        @foreach (var item in Model.Item.Cvs)
                        {
                            <div class="user_block">
                                <a asp-action="detail" asp-controller="cv" asp-route-id="@item.Id" target="_blank">
                                    <div class="header_user">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="user_img">
                                                <img src="~/assets/images/User/@item.ImageUrl"
                                                     alt="" />
                                            </div>
                                            <div class="d-flex justify-content-between w-100">
                                                <div class="user_desc">
                                                    <h3 class="profession">
                                                        @item.Position
                                                    </h3>

                                                    <p class="fullname">@item.Name @item.Surname</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user_options">
                                        <div class="item">
                                            <div class="icon">
                                                <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg"
                                                     alt="" />
                                            </div>
                                            <div class="text">
                                                <h4>@item.IncludeWorkingHour.Name</h4>
                                                <p>İş rejimi</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg"
                                                     alt="" />
                                            </div>
                                            <div class="text">
                                                <h4>@item.MinSalary</h4>
                                                <p>Minimum əmək haqqı AZN</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="icon">
                                                <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg"
                                                     alt="" />
                                            </div>
                                            <div class="text">
                                                <h4>@item.IncludeExperience.Name</h4>
                                                <p>İş staji</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                    <div class="mx-2">
                                        @if (Model.Item.CvIds.Any(x => x == item.Id))
                                        {
                                            <a asp-action="DeleteItem" asp-controller="CvWishlist" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path.Value">
                                                <i class="fa-solid fa-heart liked"></i>

                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="AddWishList" asp-controller="CvWishlist" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path.Value">
                                                <i class="fa-regular fa-heart unliked"></i>


                                            </a>
                                        }

                                    </div>

                                </div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>