@model HomeVm
@{
}
<section id="sliders">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title">
                    <h1>
                        İş elanları 2023
                    </h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="responsive">
                    @if (User.IsInRole(UserRole.Employee.ToString()))
                    {
                        <div class="item">
                            <div class="new-cat-card apply-cv">
                                <a asp-action="createcv" asp-controller="user">
                                    <img src="https://www.hellojob.az/content/assets/images/vacancies/upload.svg">
                                    <div class="new-cat-name"><p>CV əlavə et</p></div>
                                    <div class="new-cat-count"><p>Şirkətlər sizi tapsın</p></div>
                                </a>
                            </div>
                        </div>
                    }
                    @if (User.IsInRole(UserRole.Company.ToString()))
                    {
                        <div class="item">
                            <div class="new-cat-card apply-cv">
                                <a asp-action="createvacancy" asp-controller="user">
                                    <img src="https://www.hellojob.az/content/assets/images/vacancies/upload.svg">
                                    <div class="new-cat-name"><p>Vakansiya əlavə et</p></div>
                                    <div class="new-cat-count"><p>İşçilər sizi tapsın</p></div>
                                </a>
                            </div>
                        </div>
                    }
                    @foreach (var x in Model.BaseCategoryVms)
                    {
                        int totalCount = 0;
                        foreach (var item in x.CategoryItems)
                        {
                            totalCount += item.Vacancies.Count(a => a.IncludeCategoryItem.BaseCategoryId == x.Id);
                        }

                        <div class="item">
                            <div class="new-cat-card">
                                <a href="">
                                    <img src="~/assets/images/BusinessTitle/@x.ImageUrl" alt="@x.Name">
                                    <div class="new-cat-name"><p>@x.Name</p></div>
                                    <div class="new-cat-count"><p><span>@totalCount</span> iş elanı</p></div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section id="works">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title">
                    <h1>
                        Vakansiyalar
                    </h1>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        @foreach (var item in Model.VacancyVms)
                        {
                            <div class="vacancies">
                                <div class="vacancies_href">
                                    <a href="~/vacansdetail.html">
                                        <div class="item_left">
                                            <div class="icon">
                                                <img src="~/assets/images/BusinessTitle/@item.IncludeCategoryItem.IncludeBaseCategory.ImageUrl"
                                                     alt="@item.IncludeCategoryItem.IncludeBaseCategory.Name" />
                                            </div>
                                            <div class="title">
                                                <h3>@item.Position</h3>
                                                <p></p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item_right">
                                        <span class="salary">@item.Salary AZN</span>
                                        <span class="date">@item.CreatedAt.ToString("MMM dd, yyyy 'at' h:mm tt")</span>
                                        <div class="mx-2">
                                            @if (Model.VacancyWishlists.Any(x => x.Id == item.Id))
                                            {
                                                <a asp-action="DeleteItem" asp-controller="VacancyWishlist" asp-route-id="@item.Id">
                                                    <i class="fa-solid fa-heart liked"></i>

                                                </a>
                                            }
                                            else
                                            {
                                        <a asp-action="AddWishList" asp-controller="VacancyWishlist" asp-route-id="@item.Id">
                                            <i class="fa-regular fa-heart unliked"></i>

                                        </a>
                                            }

                                        </div>

                                    </div>
                                    </div>
                            </div>
                        }

                    </div>
                    <div class="col-lg-4 col-md-4 mb-3">
                        <div class="sticky_element">
                            <div class="reclams">
                                <img src="https://www.hellojob.az/uploads/banners/2023/05/01/kapital-bank-banner-644f848092e7a-9bb97ce3487c22cc702dcd5e0ccb309f644f848092e8e-aryZtKUi6v_De5r.jpg" alt="">
                            </div>
                            <div class="companies">
                                @foreach (var item in Model.CompanyVms)
                                 {
                                    <div class="company">
                                        <a asp-action="index" asp-controller="company">
                                            <div class="images">
                                                <img src="~/assets/images/Company/@item.ImageUrl" alt="@item.Name" class="image">
                                            </div>
                                            @if (@item.Vacancies.Count!=0)
                                             {
                                                 <p>@item.Vacancies.Count vakansiya</p>
                                             }
                                        </a>
                                    </div>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>