@model GetCompanyVm
<section class="mt-5" id="vacansdetail">
    <div class="container">
        <h3 class="infos">@Model.Name iş elanları</h3>
        <div class="row">
            @foreach (var item in Model.Vacancies)
            {
                <div class="col-lg-8 col-md-6">
                    <div class="right_side">
                        <div class="vacancies">
                            <div class="vacancies__href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="~/assets/images/BusinessTitle/@item.IncludeCategoryItem.IncludeBaseCategory.ImageUrl"
                                                 alt="@item.IncludeCategoryItem.IncludeBaseCategory.Name" />
                                        </div>
                                        <div class="title">
                                            <h3>@item.Position</h3>
                                            <p>By @item.IncludeCompany.Name</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">@item.Salary AZN</span>
                                    <span class="date">@item.CreatedAt.ToString("MMM dd, yyyy 'at' h:mm tt")</span>
                                    <div class="mx-2">
                                        @if (item.VacancyIds.Any(x => x == item.Id))
                                        {
                                            <a asp-action="DeleteItem" asp-controller="VacancyWishlist" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path.Value">
                                                <i class="fa-solid fa-heart liked"></i>

                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="AddWishList" asp-controller="VacancyWishlist" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path.Value">
                                                <i class="fa-regular fa-heart unliked"></i>

                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="user_contact">
                    <div class="company_body_detail">
                        <div class="contact_body">
                            <div class="stick">
                                <div class="title">
                                    <h4>Şirkət №@Model.Id</h4>
                                </div>
                                <div class="infos">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="item">
                                                <div class="icon d-flex">
                                                    <div class="all d-flex">
                                                        <div class="image">
                                                            <img src="~/assets/images/470mail.svg"
                                                                 alt="" />
                                                        </div>
                                                        <div class="text">
                                                            <h4 class="secrets-title">@Model.Email</h4>
                                                            <p>Email</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>