@{
    var controller = ViewContext.RouteData.Values["Controller"] as string;
    var action = ViewContext.RouteData.Values["Action"] as string;
}
<div class="account_bar">
    <a asp-controller="User" asp-action="index" class="logo" aria-label="hellojob">
        <img src="~/assets/images/night_mode_logo.svg" alt="" />
    </a>
    <ul class="myprofile">
        <li>
            <a class="@(controller == "User" && action == "Index" ? "active" : "")" asp-controller="User" asp-action="index">
                <span>
                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg" alt="" />
                </span>
                Profilim
            </a>
        </li>
        <li>
            <a class="@(controller == "User" && action == "RequestIndex" ? "active" : "")" asp-controller="User" asp-action="requestindex">
                <span>
                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg" alt="" />
                </span>
                Müraciətlər
            </a>
        </li>
        <li>
            <a class="@(controller == "User" && action == "orderIndex" ? "active" : "")" asp-controller="User" asp-action="orderindex">
                <span>
                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg" alt="" />
                </span>
                Gözləmədə olan elanlar
            </a>
        </li>
        <li>
            @if (User.IsInRole(nameof(UserRole.Company)))
            {
                <a class="@(controller == "User" && action == "VacancyIndex" ? "active" : "")" asp-controller="User" asp-action="vacancyindex">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg" alt="" />
                    </span>
                    Elanlarım
                </a>
            }
            else
            {
                <a class="@(controller == "User" && action == "CvIndex" ? "active" : "")" asp-controller="User" asp-action="cvindex">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg" alt="" />
                    </span>
                    Elanlarım
                </a>
            }
        </li>
        <li>
            @if (User.IsInRole(nameof(UserRole.Employee)))
            {
                <a class="@(controller == "User" && action == "VacancyWishList" ? "active" : "")" asp-controller="User" asp-action="VacancyWishList">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg" alt="" />
                    </span>
                    Bəyəndiklərim
                </a>
            }
            else
            {
                <a class="@(controller == "User" && action == "CvWishList" ? "active" : "")" asp-controller="User" asp-action="CvWishList">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg" alt="" />
                    </span>
                    Bəyəndiklərim
                </a>
            }
        </li>
        <li>
            <a class="@(controller == "Account" && action == "ChangePassword" ? "active" : "")" asp-controller="Account" asp-action="ChangePassword">
                <span>
                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg" alt="" />
                </span>
                Şifrəni dəyiş
            </a>
        </li>
        @if (User.IsInRole(UserRole.Company.ToString()))
        {
            <li>
                <a class="@(controller == "User" && action == "CreateVacancy" ? "active" : "")" asp-controller="User" asp-action="createvacancy">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg" alt="" />
                    </span>
                    Vakansiya Yerləşdir
                </a>
            </li>
            <li>
                <a class="@(controller == "User" && action == "CreateCompany" ? "active" : "")" asp-controller="User" asp-action="createcompany">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg" alt="" />
                    </span>
                    Şirkət Yarat
                </a>
            </li>
            <li>
                <a class="@(controller == "User" && action == "CompanyIndex" ? "active" : "")" asp-controller="User" asp-action="companyindex">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg" alt="" />
                    </span>
                    Şirkətlərim
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="@(controller == "User" && action == "CreateCv" ? "active" : "")" asp-controller="User" asp-action="createcv">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg" alt="" />
                    </span>
                    Cv yerləşdir
                </a>
            </li>
        }
    </ul>
    <div class="backsite">
        <a asp-controller="home" asp-action="index" class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
    </div>
</div>
